name: compose

include:
  # network
  - path: docker-compose.networks-shared.yml
  - path: gluetun/docker-compose.yml

  # auth
  - path: authentik/docker-compose.yml
    env_file: authentik/.env
  - path: nginx-proxy-manager/docker-compose.yml

  # services
  - path: arr/docker-compose.yml
  - path: apprise/docker-compose.yml
  - path: audiobookshelf/docker-compose.yml
  - path: books/docker-compose.yml
  # - path: calibreweb/docker-compose.yml
  # - path: changedetection/docker-compose.yml
  # - path: composecraft/docker-compose.yml
  - path: dockerproxy/docker-compose.yml
  - path: dozzle/docker-compose.yml
  - path: ersatztv/docker-compose.yml
  - path: freshrss/docker-compose.yml
  - path: glances/docker-compose.yml
  - path: homepage/docker-compose.yml
  - path: immich/docker-compose.yml
    env_file: immich/.env
  - path: iperf3/docker-compose.yml
  - path: jellyfin/docker-compose.yml
  - path: jdownloader/docker-compose.yml
  - path: komga/docker-compose.yml
  - path: lazylibrarian/docker-compose.yml
  - path: maintainerr/docker-compose.yml
  - path: minecraft/docker-compose.yml
  - path: mylar3/docker-compose.yml
  - path: navidrome/docker-compose.yml
  - path: overseerr/docker-compose.yml
  # - path: paperless-ngx/docker-compose.yml
  - path: picard/docker-compose.yml
  - path: pinchflat/docker-compose.yml
  - path: portainer/docker-compose.yml
  - path: pyload-ng/docker-compose.yml
  - path: qbittorrent/docker-compose.yml
  - path: recyclarr/docker-compose.yml
  # - path: redirecterr/docker-compose.yml
  - path: restic/docker-compose.yml
  - path: romm/docker-compose.yml
  - path: sabnzbd/docker-compose.yml
  - path: scrutiny/docker-compose.yml
  - path: speedtest-tracker/docker-compose.yml
  - path: tautulli/docker-compose.yml
  - path: tubearchivist/docker-compose.yml
  - path: uptimekuma/docker-compose.yml
  - path: vaultwarden/docker-compose.yml
  - path: wizarr/docker-compose.yml
  

  # services - disabled
  # - path: backrest/docker-compose.yml
  # - path: deluge/docker-compose.yml
  # - path: diun/docker-compose.yml
  # - path: doublecommander/docker-compose.yml
  # - path: filebot/docker-compose.yml
  # - path: gaseous/docker-compose.yml
  # - path: healthchecks/docker-compose.yml
  #   env_file: healthchecks/.env
  # - path: notifiarr/docker-compose.yml
  # - path: ollama/docker-compose.yml
  # - path: ouroboros/docker-compose.yml
  # - path: watchtower/docker-compose.yml

networks:
  default:
    name: compose_default
