x-logging: &default-logging
  driver: json-file
  options:
    max-file: "10"
    max-size: 200k

x-common-keys: &common-keys
  restart: unless-stopped
  logging: *default-logging

x-common-env: &common-env
  PGID: "1000"
  PUID: "1000"
  TZ: America/Los_Angeles

{% if services %}
services:
{% for service in services %}
  {{ service }}:
    <<: *common-keys
    pull_policy: missing
    environment:
      <<: *common-env
{% if service in (traefik_services | default({})) %}
{% set svc = traefik_services[service] %}
{% if svc.auth is defined and svc.auth in ['oidc', 'forward', 'none'] %}
{% set subdomains = svc.subdomains %}
{% set middlewares = [] %}
{% if svc.sablier is defined and svc.sablier %}
{% set _ = middlewares.append('sablier-' + service + '@docker') %}
{% endif %}
{% if svc.auth == 'forward' %}
{% set _ = middlewares.append('auth@file') %}
{% set _ = middlewares.append('auth-errors@file') %}
{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ service }}.rule={% for sd in subdomains %}Host(`{{ sd }}.{{ secret_domain }}`){% if not loop.last %} || {% endif %}{% endfor %}"
      - "traefik.http.routers.{{ service }}.entrypoints=websecure"
      - "traefik.http.routers.{{ service }}.tls.certresolver=cloudflare"
      - "traefik.http.services.{{ service }}.loadbalancer.server.port={{ svc.port }}"
{% if middlewares %}
      - "traefik.http.routers.{{ service }}.middlewares={{ middlewares | join(',') }}"
{% endif %}
{% if svc.sablier is defined and svc.sablier %}
      - "traefik.http.middlewares.sablier-{{ service }}.plugin.sablier.names={{ service }}"
      - "traefik.http.middlewares.sablier-{{ service }}.plugin.sablier.sablierUrl=http://sablier:10000"
      - "traefik.http.middlewares.sablier-{{ service }}.plugin.sablier.sessionDuration=1h"
      - "traefik.http.middlewares.sablier-{{ service }}.plugin.sablier.dynamic.displayName={{ service | capitalize }}"
      - "traefik.http.middlewares.sablier-{{ service }}.plugin.sablier.dynamic.refreshFrequency=5s"
      - "traefik.http.middlewares.sablier-{{ service }}.plugin.sablier.dynamic.defaultTimeout=60s"
      - "traefik.http.middlewares.sablier-{{ service }}.plugin.sablier.dynamic.showDetails=true"
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
