---
services:

  linkwarden-postgres:
    image: postgres:16-alpine3.21
    env_file: .env
    restart: always
    volumes:
      - {{ docker_appdata_path }}/linkwarden/pgdata:/var/lib/postgresql/data

  linkwarden:
    env_file: .env
    environment:
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres
    restart: always
    # build: . # uncomment this line to build from source
    image: ghcr.io/linkwarden/linkwarden:v2.11.7 # comment this line to build from source
    ports:
      - 3000:3000
    volumes:
      - {{ docker_appdata_path }}/linkwarden/data:/data/data
    depends_on:
      - linkwarden-postgres