---
services:

 vaultwarden:
  image: vaultwarden/server:latest
  container_name: vaultwarden
  restart: unless-stopped
  environment:
    DOMAIN: "https://vw.lab.{{ secret_domain }}"
  volumes:
    - {{ docker_home_appdata_path }}/vaultwarden/:/data/
  ports:
    - 8087:80