---
networks:
  minecraft:
    driver: bridge

services:

  minecraft-1:
    # https://github.com/itzg/docker-minecraft-server
    # https://docker-minecraft-server.readthedocs.io/en/latest/
    container_name: minecraft-java-1
    image: itzg/minecraft-server # itzg/minecraft-server | itzg/minecraft-bedrock-server
    environment:
      EULA: "true"
      SERVER_NAME: HomeSurvival
      MODE: "survival" # survival | creative | adventure | spectator
      TYPE: "PAPER"
      VERSION: 1.21.3
      PLUGINS: |
        https://download.geysermc.org/v2/projects/geyser/versions/latest/builds/latest/downloads/spigot
        https://download.geysermc.org/v2/projects/floodgate/versions/latest/builds/latest/downloads/spigot
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/5.2.0/PAPER/ViaVersion-5.2.0.jar
    networks:
      - minecraft
    ports:
      - "25565:25565"
      - "19132:19132/udp"
    volumes:
      - {{ docker_home_appdata_path }}/minecraft-1:/data
    stdin_open: true
    tty: true
    restart: unless-stopped
