name: games

include:
  - path: minecraft/docker-compose.yml
  - path: minecraft-proxy/docker-compose.yml
  # - path: stardew/docker-compose.yml
  #  env_file: stardew/.env
  # - path: terraria/docker-compose.yml
  
networks:
  minecraft:
    driver: bridge
