
services:

  healthchecks:
    image: lscr.io/linuxserver/healthchecks:3.11.20250828
    container_name: healthchecks
    environment:
      - SITE_ROOT="https://healthchecks.lab.{{ secret_domain }}"
      - SITE_NAME="Foo"
      - SUPERUSER_EMAIL="admin@example.com"
      - SUPERUSER_PASSWORD="admin"
      - APPRISE_ATTACH_SIZE=0 #optional
      - ALLOWED_HOSTS=192.168.1.3 #optional
      - APPRISE_ENABLED=True #optional
      - CSRF_TRUSTED_ORIGINS= #optional
      - DEBUG=True #optional
      - DEFAULT_FROM_EMAIL= #optional
      - EMAIL_HOST= #optional
      - EMAIL_PORT= #optional
      - EMAIL_HOST_USER= #optional
      - EMAIL_HOST_PASSWORD= #optional
      - EMAIL_USE_TLS= #optional
      - INTEGRATIONS_ALLOW_PRIVATE_IPS= #optional
      - PING_EMAIL_DOMAIN= #optional
      - RP_ID= #optional
      - SECRET_KEY= #optional
      - SITE_LOGO_URL= #optional
    volumes:
      - {{ docker_appdata_path }}/healthchecks/config:/config
    ports:
      - 4003:8000
      - 2525:2525 #optional
    restart: unless-stopped