[submodule "roles/jhaycr.deployment_user"]
	path = roles/jhaycr.deployment_user
	url = git@github.com:jhaycr/ansible-role-deployment-user.git
[submodule "roles/jhaycr.luks_disks"]
	path = roles/jhaycr.luks_disks
	url = git@github.com:jhaycr/ansible-role-luks-disks.git
[submodule "roles/jhaycr.snapraid"]
	path = roles/jhaycr.snapraid
	url = https://github.com/jhaycr/ansible-role-snapraid
