---

services:

  authentik-outpost-ldap:
    # see:
    # - https://docs.goauthentik.io/docs/add-secure-apps/providers/ldap/generic_setup#create-ldap-application--provider
    # - https://docs.goauthentik.io/docs/add-secure-apps/outposts/manual-deploy-docker-compose
      image: ghcr.io/goauthentik/ldap
      # Optionally specify which networks the container should be
      # might be needed to reach the core authentik server
      networks:
        - app_authentik
        - bridge_proxy_external
      ports:
          - 389:3389
          - 636:6636
      environment:
          AUTHENTIK_HOST: https://auth.{{ secret_domain }}
          AUTHENTIK_INSECURE: "false"
          AUTHENTIK_TOKEN: {{ secret_authentik_ldap_outpost_token }}
    {# Test with:
    sudo docker run -it --rm --network authentik mbentley/ldap-utils ldapsearch -x \
    -H ldap://authentik-outpost-ldap:389 \
    -D 'cn=ldapservice,ou=users,DC=ldap,DC=goauthentik,DC=io' \
    -w 'ldap-service-password' \
    -b 'DC=ldap,DC=goauthentik,DC=io' \
    '(objectClass=user)' 
    #}