networks:
  recyclarr:
    name: recyclarr

services:
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:7.5.2
    container_name: recyclarr
    user: 1000:1000
    networks:
    - recyclarr
    volumes:
      -  {{ docker_appdata_path }}/recyclarr:/config
    environment:
      - TZ=America/Los_Angeles
    security_opt: ['no-new-privileges:true']
    read_only: true
    tmpfs: /tmp

# recyclarr sync sonarr --preview
# recyclarr sync radarr --preview