
services:

  jdownloader:
    <<: *common-keys
    image: jlesage/jdownloader-2
    container_name: jdownloader
    environment:
      <<: *common-env
    ports:
      - "5801:5800"
    volumes:
      - {{ docker_home_appdata_path }}/jdownloader:/config:rw
      - {{ docker_storage_path }}/downloads:/output:rw"

  metube:
    <<: *common-keys
    image: ghcr.io/alexta69/metube
    container_name: metube
    environment:
      <<: *common-env
    ports:
      - "8087:8081"
    volumes:
      - {{ docker_storage_path }}/downloads:/downloads

  navidrome:
    <<: *common-keys
    container_name: navidrome
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      <<: *common-env
      # Optional: put your config options customization here. Examples:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info  
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: ""
      ND_REVERSEPROXYUSERHEADER: "X-authentik-username"
      ND_REVERSEPROXYWHITELIST: "0.0.0.0/0"
    networks:
      external_proxy_bridge:
    volumes:
      - {{ docker_home_appdata_path }}/navidrome:/data
      - {{ docker_storage_path }}/media/audio/music:/music:ro"
