---
services:

 backrest:
  image: garethgeorge/backrest:latest
  container_name: backrest
  volumes:
    - {{ docker_appdata_path }}/backrest/data:/data
    - {{ docker_appdata_path }}/backrest/config:/config
    - {{ docker_appdata_path }}/backrest/cache:/cache
    - {{ docker_appdata_path }}:/userdata # [optional] mount local paths to backup here.
    - {{ backup_path_local }}:/repos
    #- {{ nas_storage_path }}/backups:/repos # [optional] mount repos if using local storage, not necessary for remotes e.g. B2, S3, etc.
  environment:
    BACKREST_DATA: /data # path for backrest data. restic binary and the database are placed here.
    BACKREST_CONFIG: /config/config.json # path for the backrest config file.
    XDG_CACHE_HOME: /cache # path for the restic cache which greatly improves performance.
  restart: unless-stopped
  ports:
    - 9898:9898