---
services:

 overseerr:
  container_name: overseerr
  image: linuxserver/overseerr:2021.12.12
  networks:
    bridge_proxy_external:
  ports:
    - "5055:5055"
  volumes:
    - {{ docker_appdata_path }}/overseerr:/config