---

x-logging: &default-logging
  driver: json-file
  options:
    max-file: "10"
    max-size: 200k

x-common-keys: &common-keys
  restart: unless-stopped
  logging: *default-logging

x-common-env: &common-env
  PGID: "1000"
  PUID: "1000"
  TZ: America/Los_Angeles

x-common-volumes:
  - &localtime /etc/localtime:/etc/localtime:ro
  - &storage {{ nas_storage_path }}:/storage
  
# networks:
#  ta-network:
#    driver: bridge

volumes:
  tubearchivist-media:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device:  {{ nas_storage_path }}/media/TV/Youtube
  tubearchivist-cache:
  tubearchivist-es:
  tubearchivist-redis:

services:

  tubearchivist:
    <<: *common-keys
    container_name: tubearchivist
    image: bbilly1/tubearchivist:v0.5.9
    #networks:
    #  - ta-network
    network_mode: container:gluetun
    volumes:
      - tubearchivist-media:/youtube
      - tubearchivist-cache:/cache
    environment:
      <<: *common-env
      ES_URL: http://localhost:9200     # needs protocol e.g. http and port
      REDIS_CON: redis://localhost:6379
      HOST_UID: 1000
      HOST_GID: 1000
      TA_PORT: 8089 # https://docs.tubearchivist.com/installation/docker-compose/#port-collisions
      TA_BACKEND_PORT: 8087
      TA_HOST: {{ secret_tubearchivist_host }}         # set your host name
      TA_USERNAME: {{ secret_tubearchivist_user }}           # your initial TA credentials
      TA_PASSWORD: {{ secret_tubearchivist_pass }}              # your initial TA credentials
      ELASTIC_PASSWORD: {{ secret_tubearchivist_es_pass }}         # set password for Elasticsearch
      DJANGO_DEBUG: False

      # prevents the browser extension from working and breaks existing users
      # https://docs.tubearchivist.com/configuration/forward-auth/
      # TA_ENABLE_AUTH_PROXY: "true"
      # TA_AUTH_PROXY_USERNAME_HEADER: "HTTP_REMOTE_USER"
      # TA_AUTH_PROXY_LOGOUT_URL: "https://auth.{{ secret_domain }}/logout"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8089/health"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
    depends_on:
      - gluetun
      - tubearchivist-es
      - tubearchivist-redis
  
  tubearchivist-redis:
    <<: *common-keys
    image: redis
    container_name: tubearchivist-redis
    restart: unless-stopped
    volumes:
      - tubearchivist-redis:/data
    #networks:
    #  - ta-network
    #expose:
    #  - "6379"
    network_mode: container:gluetun
    depends_on:
      - gluetun
      - tubearchivist-es
  
  tubearchivist-es:
    <<: *common-keys
    # as of 5/17, latest is 8.18.0
    image: bbilly1/tubearchivist-es         # only for amd64, or use official es 8.14.3
    container_name: tubearchivist-es
    restart: unless-stopped
    environment:
      - "ELASTIC_PASSWORD={{ secret_tubearchivist_es_pass }}"       # matching Elasticsearch password
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "xpack.security.enabled=true"
      - "discovery.type=single-node"
      - "path.repo=/usr/share/elasticsearch/data/snapshot"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - tubearchivist-es:/usr/share/elasticsearch/data    # check for permission error when using bind mount, see readme
    # networks:
    #  - ta-network
    #expose:
    #  - "9200"
    network_mode: container:gluetun
    depends_on:
      - gluetun    