---
services:

 speedtest-tracker:
  image: lscr.io/linuxserver/speedtest-tracker:latest
  container_name: speedtest-tracker
  environment:
    APP_KEY: {{ secret_speedtest_tracker_app_key }}
    DB_CONNECTION: sqlite
    SPEEDTEST_SCHEDULE: "0 * * * *"
    SPEEDTEST_SERVERS: {{ secret_speedtest_tracker_speedtest_servers }}
    PRUNE_RESULTS_OLDER_THAN: 14 #optional
    DISPLAY_TIMEZONE: America/Los_Angeles
  volumes:
    - {{ docker_appdata_path }}/speedtest-tracker:/config
  ports:
    - 8084:80
  restart: unless-stopped