x-logging: &default-logging
  driver: json-file
  options:
    max-file: "10"
    max-size: 200k

x-common-keys: &common-keys
  restart: unless-stopped
  logging: *default-logging

x-common-env: &common-env
  PGID: "1000"
  PUID: "1000"
  TZ: America/Los_Angeles

{% if services %}
services:
{% for service in services %}
  {{ service }}:
    <<: *common-keys
    environment:
      <<: *common-env
{% if service in (traefik_services | default({})) %}
{% set svc = traefik_services[service] %}
{% set auth = svc.auth | default('forward') %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ service }}.rule=Host(`{{ svc.subdomain | default(service) }}.{{ secret_domain }}`)"
      - "traefik.http.routers.{{ service }}.entrypoints=websecure"
      - "traefik.http.routers.{{ service }}.tls.certresolver=cloudflare"
      - "traefik.http.services.{{ service }}.loadbalancer.server.port={{ svc.port }}"
{% if auth == 'forward' %}
      - "traefik.http.routers.{{ service }}.middlewares=authentik@file"
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
