---

services:

  jellyfin:
    image: jellyfin/jellyfin:10.10.7
    container_name: jellyfin
    user: 1000:1000
    network_mode: 'host'
    volumes:
      - {{ docker_appdata_path }}/jellyfin/config:/config
      - {{ docker_appdata_path }}/jellyfin/cache:/cache
      - {{ nas_storage_path }}/media:/media:ro
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      JELLYFIN_PublishedServerUrl: https://jellyfin.lab.{{ secret_domain }}
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'