networks:
  authelia:

services:
  authelia:
    container_name: authelia
    image: docker.io/authelia/authelia:4.39.15
    restart: unless-stopped
    networks:
      - authelia
    expose:
      - 9091
    volumes:
      - {{ docker_appdata_path }}/authelia/config:/config

  authelia-redis:
    container_name: authelia-redis
    image: docker.io/redis:8-alpine
    restart: unless-stopped
    networks:
      - authelia
    volumes:
      - {{ docker_appdata_path }}/authelia/redis:/data
