---
services:

  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:V3.1.2
    container_name: cwa
    environment:
      - HARDCOVER_TOKEN={{ secret_hardcover_token }}  # Optional, but needed for some features
    volumes:
      # CW users migrating should stop their existing CW instance, make a copy of the config folder, and bind that here to carry over all of their user settings ect.
      - {{ docker_appdata_path }}/calibrewebautomated:/config 
      # This is an ingest dir, NOT a library one. Anything added here will be automatically added to your library according to the settings you have configured in CWA Settings page. All files placed here are REMOVED AFTER PROCESSING
      - {{ nas_cache_path}}/cwa-book-ingest/general:/cwa-book-ingest
      # If you don't have an existing library, CWA will automatically create one at the bind provided here
      - {{ nas_storage_path}}/books/calibre/general:/calibre-library
    ports:
      # Change the first number to change the port you want to access the Web UI, not the second
      - 8083:8083 
    restart: unless-stopped

  calibre-web-automated-book-downloader:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader:latest
    container_name: cwa-downloader
    environment:
      FLASK_PORT: 8084
      LOG_LEVEL: info
      BOOK_LANGUAGE: en
      USE_BOOK_TITLE: true
      TZ: America/New_York
      APP_ENV: prod
      CWA_DB_PATH: /auth/app.db
      AA_DONATOR_KEY: {{ secret_aa_donator_key }}
    ports:
      - 8084:8084
    restart: unless-stopped
    volumes:
      # This is where the books will be downloaded to, usually it would be
      # the same as whatever you gave in "calibre-web-automated"
      - {{ nas_cache_path}}/cwa-book-ingest/general:/cwa-book-ingest
      # This is the location of CWA's app.db, which contains authentication
      # details
      - {{ docker_appdata_path }}/calibrewebautomated/app.db:/auth/app.db:ro

  calibre-web-automated-kids:
    image: crocodilestick/calibre-web-automated:V3.1.2
    container_name: cwa-kids
    environment:
      - HARDCOVER_TOKEN={{ secret_hardcover_token }}  # Optional, but needed for some features
    volumes:
      # CW users migrating should stop their existing CW instance, make a copy of the config folder, and bind that here to carry over all of their user settings ect.
      - {{ docker_appdata_path }}/cwa-kids:/config 
      # This is an ingest dir, NOT a library one. Anything added here will be automatically added to your library according to the settings you have configured in CWA Settings page. All files placed here are REMOVED AFTER PROCESSING
      - {{ nas_cache_path}}/cwa-book-ingest/kids:/cwa-book-ingest
      # If you don't have an existing library, CWA will automatically create one at the bind provided here
      - {{ nas_storage_path}}/books/calibre/kids:/calibre-library
    networks:
      - bridge_proxy_external
    ports:
      # Change the first number to change the port you want to access the Web UI, not the second
      - 8882:8083 
    restart: unless-stopped

  chaptarr: # 10.0.10.13
    image: robertlordhood/chaptarr:latest
    container_name: chaptarr
    environment:
      PUID: 2000
      PGID: 66000
      TZ: US/Eastern
      #Chaptarr__Postgres__Host:
      #Chaptarr__Postgres__Port: #(default: 5432)
      #Chaptarr__Postgres__User:
      #Chaptarr__Postgres__Password:
      #Chaptarr__Postgres__MainDb: #(default: chaptarr-main)
      #Chaptarr__Postgres__LogDb: #(default: chaptarr-log)
      #Chaptarr__Postgres__CacheDb: #(default: chaptarr-cache)
    volumes:
      - {{ docker_appdata_path }}/chaptarr:/config
      - {{ nas_storage_path}}/books/test:/books
      - {{ nas_storage_path}}/audiobooks/test:/audiobooks
      - {{ nas_download_path }}/chaptarr:/data/usenet
    ports:
      - 8789:8789
    restart: "unless-stopped"
