services:

  composecraft:
    image: composecraft/composecraft:1.0.1
    container_name: composecraft
    ports:
      - 3009:3000
    environment:
      - CORE_ONLY=true
      - URL=http://localhost:3000
      - SECRET_KEY=changeme
      - MONGODB_URI=mongodb://dev:dev@db
    depends_on:
      - composecraft-db
    networks:
      - app_composecraft

  composecraft-db:
    image: mongo:latest
    container_name: composecraft-db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=dev
      - MONGO_INITDB_ROOT_PASSWORD=dev
    ports:
      - 27017:27017
    networks:
      - app_composecraft
    volumes:
      - composecraft_mongo_data:/data/db
networks:
  app_composecraft:
    driver: bridge
    attachable: false
    external: false
volumes:
  composecraft_mongo_data:
    driver: local
    external: false