name: smarthome

include: []
  # - path: home-assistant/docker-compose.yml
  # - path: matter-server/docker-compose.yml
  # - path: ring-mqtt/docker-compose.yml

networks:
  default:
    name: smarthome_default
