services:

  redirecterr:
    image: varthe/redirecterr:latest@sha256:fce492ac1f55d3ec31343c448f2f04529f01b0fc50b18db98f3a69962a38411e
    container_name: redirecterr
    hostname: redirecterr
    ports:
      - 8481:8481
    volumes:
      - {{ docker_appdata_path }}/redirecterr/config:/config
      - {{ docker_appdata_path }}/redirecterr/logs:/logs
    environment:
      - LOG_LEVEL=info