services:

  redirecterr:
    image: varthe/redirecterr:latest@sha256:5679b16245b92691227f61f84a6f2fc50fec456e944a3a74e88661ff7f9ca9ea
    container_name: redirecterr
    hostname: redirecterr
    ports:
      - 8481:8481
    volumes:
      - {{ docker_appdata_path }}/redirecterr/config:/config
      - {{ docker_appdata_path }}/redirecterr/logs:/logs
    environment:
      - LOG_LEVEL=info