---
# Instance Definition: https://recyclarr.dev/wiki/yaml/config-reference/basic/
radarr:

  radarr:
    base_url: "http://{{ internal_ip_neo }}:7878"
    api_key: {{ secret_arr_api_key_radarr }}

    include:
      # Comment out any of the following includes to disable them
      - template: radarr-quality-definition-sqp-streaming
      # - template: radarr-quality-profile-sqp-1-web-1080p
      # - template: radarr-custom-formats-sqp-1-web-1080p
      - config: radarr.yml


  anime-radarr:
    base_url: "http://{{ internal_ip_neo }}:8878"
    api_key: {{ secret_arr_api_key_radarr_anime }}

    include:
      - template: radarr-quality-definition-movie
      # - template: radarr-quality-profile-anime
      # - template: radarr-custom-formats-anime
      - config: radarr-anime.yml


sonarr:

  sonarr:
    base_url: "http://{{ internal_ip_neo }}:8989"
    api_key: {{ secret_arr_api_key_sonarr }}

    include:
      # Comment out any of the following includes to disable them
      # - template: sonarr-quality-definition-anime
      # - template: sonarr-v4-quality-profile-anime
      # - template: sonarr-v4-custom-formats-anime
      - config: sonarr.yml

  anime-sonarr-v4:
    base_url: "http://{{ internal_ip_neo }}:9989"
    api_key: {{ secret_arr_api_key_sonarr_anime }}

    include:
      # Comment out any of the following includes to disable them
      # - template: sonarr-quality-definition-anime
      # - template: sonarr-v4-quality-profile-anime
      # - template: sonarr-v4-custom-formats-anime
      - config: sonarr-anime.yml
