---
services:

 glances:
  container_name: glances
  image: nicolargo/glances:4.3.1-full
  restart: always
  pid: "host"
  privileged: true
  network_mode: "host"
  volumes:
    - "/var/run/docker.sock:/var/run/docker.sock:ro"
    - "/run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:ro"
    - {{ docker_appdata_path }}/glances:/glances/conf
  environment:
    - TZ=${TZ}
    - "GLANCES_OPT=-C /glances/conf/glances.conf -w"
  # Uncomment for GPU compatibility (Nvidia) inside the container
  # deploy:
  #   resources:
  #     reservations:
  #       devices:
  #         - driver: nvidia
  #           count: 1
  #           capabilities: [gpu]