---
services:

 portainer:
  container_name: portainer
  image: portainer/portainer-ce:2.33.1
  command: -H tcp://{{ ip_internal_morpheus }}:9001 --tlsskipverify
  ports:
    - "9000:9000"
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - {{ docker_appdata_path }}/portainer:/data