---
services:

 komga:
  container_name: komga
  image: gotson/komga:1.23.6
  environment:
    KOMGA_OAUTH2_ACCOUNT_CREATION: "true"
  networks:
    bridge_proxy_external:
  ports:
    - "25600:25600"
  volumes:
    - {{ docker_appdata_path }}/komga:/config
    - {{ nas_storage_path }}/comics/general:/data/comics
    - {{ nas_storage_path }}/storage/manga:/data/manga
    - {{ nas_storage_path }}/storage/Books:/data/books

 komga-kids:
  container_name: komga-kids
  image: gotson/komga:1.23.6
  environment:
    KOMGA_OAUTH2_ACCOUNT_CREATION: "true"
  networks:
    bridge_proxy_external:
  ports:
    - "25601:25600"
  volumes:
    - {{ docker_appdata_path }}/komga-kids:/config
    - {{ nas_storage_path }}/books/calibre/kids:/data/books:ro
    - {{ nas_storage_path }}/comics/kids:/data/comics:ro
