---

services:

  gluetun:
    image: qmcgaw/gluetun:v3.40.3
    container_name: gluetun
    hostname: gluetun
    restart: always
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    volumes:
      - {{ docker_appdata_path }}/gluetun:/gluetun
    networks:
    - vpn_gluetun
    ports:
      - 8089:8089 # tubearchivist
      - 8945:8945 # tubesync
      - 4848:4848 # pinchflat
      - 8113:8113 # qbittorrent
      - 6881:6881     # qbittorrent / deluge
      - 6881:6881/udp # qbittorrent / deluge
      - 5000:5000 # changedetection
    expose:
      - "6379"  # tubearchivist-redis
      - "9200"  # tubearchivist-es
    environment:
      - VPN_SERVICE_PROVIDER={{ secret_gluetun_vpn_service_provider }}
      - VPN_TYPE=openvpn
      - OPENVPN_USER={{ secret_gluetun_openvpn_user }}+pmp
      - OPENVPN_PASSWORD={{ secret_gluetun_openvpn_pass }}
      # If using Wireguard, uncomment below:
      # - VPN_TYPE=wireguard
      # - WIREGUARD_PRIVATE_KEY={{ secret_gluetun_wireguard_private_key }}
      # - VPN_PORT_FORWARDING_PROVIDER={{ secret_gluetun_vpn_service_provider }}
      - VPN_PORT_FORWARDING=on
      - SERVER_COUNTRIES={{ secret_gluetun_vpn_server_countries }}
      - PORT_FORWARD_ONLY=on