---
services:
  whisperx:
    build:
      context: .
      args:
        BASE_IMAGE: python:3.10-slim
    image: whisperx-cpu:latest
    container_name: whisperx-cpu
    ports:
      - "8000:8000"
    environment:
      # Use CPU by default
      - WHISPERX_DEVICE=cpu
      - WHISPERX_COMPUTE_TYPE=int8