---
services:

 mylar3:
  container_name: mylar3
  image: lscr.io/linuxserver/mylar3:0.8.3
  ports:
    - "8090:8090"
  volumes:
    - {{ docker_appdata_path }}/mylar3:/config
    - {{ nas_download_path }}/usenet:/data/usenet
    - {{ nas_storage_path }}/comics:/storage/comics/