---
networks:
  minecraft:
    driver: bridge

services:

  # TODO: https://github.com/vpathuis/multiple-minecraft-bedrock-docker/blob/main/docker-compose.yml

  minecraft-1:
    # https://github.com/itzg/docker-minecraft-server
    # https://docker-minecraft-server.readthedocs.io/en/latest/
    container_name: minecraft-1
    image: itzg/minecraft-server:2025.4.2 # itzg/minecraft-server | itzg/minecraft-bedrock-server
    environment:
      EULA: "true"
      SERVER_NAME: HomeSurvivalSafe
      LEVEL_NAME: HomeSurvivalSafe
      MODE: "creative" # survival | creative | adventure | spectator
      FORCE_GAMEMODE: "true"
      DIFFICULTY: "peaceful" # peaceful | easy | normal | hard
      # LEVEL_SEED: "123"
      ANNOUNCE_PLAYER_ACHIEVEMENTS: "true"
      ENABLE_COMMAND_BLOCK: "true"
      GENERATE_STRUCTURES: "true"
      ALLOW_CHEATS: "false"
      MAX_PLAYERS: "8"
      DEFAULT_PLAYER_PERMISSION_LEVEL: operator
      TYPE: "PAPER"
      VERSION: 1.21.3
      PLUGINS: |
        https://download.geysermc.org/v2/projects/geyser/versions/latest/builds/latest/downloads/spigot
        https://download.geysermc.org/v2/projects/floodgate/versions/latest/builds/latest/downloads/spigot
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/5.3.2/PAPER/ViaVersion-5.3.2.jar
    networks:
      - minecraft
    ports:
      - "25565:25565"
      - "19132:19132/udp"
    volumes:
      - {{ docker_appdata_path }}/minecraft-1:/data
    stdin_open: true
    tty: true
    restart: unless-stopped