---
networks:
  minecraft:
    driver: bridge

services:

  # TODO: https://github.com/vpathuis/multiple-minecraft-bedrock-docker/blob/main/docker-compose.yml

  minecraft-1:
    # https://github.com/itzg/docker-minecraft-server
    # https://docker-minecraft-server.readthedocs.io/en/latest/
    container_name: minecraft-1
    image: itzg/minecraft-server:2025.12.0 # itzg/minecraft-server | itzg/minecraft-bedrock-server
    environment:
      EULA: "true"
      SERVER_NAME: HomeSurvivalSafe
      LEVEL_NAME: HomeSurvivalSafe
      MODE: "survival" # survival | creative | adventure | spectator
      FORCE_GAMEMODE: "true"
      DIFFICULTY: "normal" # peaceful | easy | normal | hard
      ENABLE_WHITELIST: "false"
      ENFORCE_WHITELIST: "false"
      # WHITELIST: {{ secret_minecraft_server_whitelist }}
      OP: {{ secret_minecraft_server_op }}
      FORCE_OPS: "true"
      # LEVEL_SEED: "123"
      ANNOUNCE_PLAYER_ACHIEVEMENTS: "true"
      ENABLE_COMMAND_BLOCK: "true"
      GENERATE_STRUCTURES: "true"
      ALLOW_CHEATS: "false"
      ALLOW_FLIGHT: "true"
      MAX_PLAYERS: "8"
      DEFAULT_PLAYER_PERMISSION_LEVEL: operator
      TYPE: "PAPER"
      # VERSION: 1.21.8 # https://gist.github.com/osipxd/6119732e30059241c2192c4a8d2218d9
      VERSION: "1.21.10"
      # https://hangar.papermc.io/ViaVersion/ViaVersion/versions/
      # https://hangar.papermc.io/ViaVersion/ViaBackwards/versions/      
      # https://hangar.papermc.io/ViaVersion/ViaRewind/versions/
      PLUGINS: |
        https://download.geysermc.org/v2/projects/geyser/versions/latest/builds/latest/downloads/spigot
        https://download.geysermc.org/v2/projects/floodgate/versions/latest/builds/latest/downloads/spigot
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/5.6.0/PAPER/ViaVersion-5.6.0.jar
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaBackwards/versions/5.6.0/PAPER/ViaBackwards-5.6.0.jar
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaRewind/versions/4.0.12/PAPER/ViaRewind-4.0.12.jar
    # networks:
    #  - minecraft
    depends_on:
      - tailscale-minecraft
    network_mode: service:tailscale-minecraft
    volumes:
      - {{ docker_appdata_path }}/minecraft-1:/data
    stdin_open: true
    tty: true
    restart: unless-stopped

  tailscale-minecraft:
    image: tailscale/tailscale:v1.92.5
    hostname: ts-minecraft
    environment:
      - TS_AUTHKEY={{ secret_tailscale_auth_key_minecraft}}
      - TS_EXTRA_ARGS=--advertise-tags=tag:minecraft-server
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - {{ docker_appdata_path }}/tailscale-minecraft/state:/var/lib/tailscale
      # - ${PWD}/tailscale-nginx/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    ports:
      - "25565:25565"
      - "19132:19132/udp"
    restart: unless-stopped