---

services:

  # https://hangar.papermc.io/ViaVersion/ViaVersion
  # https://hangar.papermc.io/ViaVersion/ViaBackwards
  # https://hangar.papermc.io/ViaVersion/ViaRewind

  minecraft-lobby:
    container_name: minecraft-lobby
    image: itzg/minecraft-server:2026.2.1
    environment:
      EULA: "true"
      TYPE: "PAPER"
      VERSION: "1.21.10"
      ONLINE_MODE: "false"
      VELOCITY_ENABLED: "true"
      VELOCITY_SECRET: {{ secret_minecraft_velocity_secret }}
      SERVER_NAME: Lobby
      MODE: "creative"
      DIFFICULTY: "peaceful"
      MAX_PLAYERS: "12"
      MEMORY: "384M"
      VIEW_DISTANCE: "4"
      SIMULATION_DISTANCE: "4"
      SEED: "4859979374641661651"
      PLUGINS: |
        https://download.geysermc.org/v2/projects/geyser/versions/latest/builds/latest/downloads/spigot
        https://download.geysermc.org/v2/projects/floodgate/versions/latest/builds/latest/downloads/spigot
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/5.6.0/PAPER/ViaVersion-5.6.0.jar
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaBackwards/versions/5.6.0/PAPER/ViaBackwards-5.6.0.jar
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaRewind/versions/4.0.12/PAPER/ViaRewind-4.0.12.jar
    networks:
      - minecraft
    volumes:
      - {{ docker_appdata_path }}/minecraft-lobby:/data
    restart: unless-stopped

  minecraft-1:
    container_name: minecraft-1
    image: itzg/minecraft-server:2026.2.1
    environment:
      EULA: "true"
      TYPE: "PAPER"
      VERSION: "1.21.10"
      ONLINE_MODE: "false"
      VELOCITY_ENABLED: "true"
      VELOCITY_SECRET: {{ secret_minecraft_velocity_secret }}
      SERVER_NAME: Survival
      MODE: "survival"
      DIFFICULTY: "normal"
      MAX_PLAYERS: "16"
      PLUGINS: |
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/5.6.0/PAPER/ViaVersion-5.6.0.jar
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaBackwards/versions/5.6.0/PAPER/ViaBackwards-5.6.0.jar
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaRewind/versions/4.0.12/PAPER/ViaRewind-4.0.12.jar
    networks:
      - minecraft
    volumes:
      - {{ docker_appdata_path }}/minecraft-1:/data
    restart: unless-stopped

  minecraft-2:
    container_name: minecraft-2
    image: itzg/minecraft-server:2026.2.1
    environment:
      EULA: "true"
      TYPE: "PAPER"
      VERSION: "1.21.10"
      ONLINE_MODE: "false"
      VELOCITY_ENABLED: "true"
      VELOCITY_SECRET: {{ secret_minecraft_velocity_secret }}
      SERVER_NAME: PVP
      MODE: "survival"
      DIFFICULTY: "normal"
      MAX_PLAYERS: "16"
      PVP: "true"
      ENABLE_COMMAND_BLOCK: "false"
      SPAWN_PROTECTION: "0"
      VIEW_DISTANCE: "10"
      SIMULATION_DISTANCE: "8"
      PLUGINS: |
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/5.6.0/PAPER/ViaVersion-5.6.0.jar
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaBackwards/versions/5.6.0/PAPER/ViaBackwards-5.6.0.jar
        https://hangarcdn.papermc.io/plugins/ViaVersion/ViaRewind/versions/4.0.12/PAPER/ViaRewind-4.0.12.jar
    networks:
      - minecraft
    volumes:
      - {{ docker_appdata_path }}/minecraft-2:/data
    restart: unless-stopped
