---
services:

 pyload-ng:
  image: lscr.io/linuxserver/pyload-ng:latest@sha256:f7a3ef9795c49f54cc79c2d8256d7ba9e5523cbf0076bca59c8f333ba57657b6
  container_name: pyload-ng
  volumes:
    - {{ docker_appdata_path }}/pyload-ng:/config
    - {{ nas_download_path }}/pyload:/downloads
  ports:
    - 8000:8000
    - 9666:9666 #optional
  restart: unless-stopped