---
services:

 pyload-ng:
  image: lscr.io/linuxserver/pyload-ng:latest@sha256:7fb55017725e2e0b76204594936fa131b6d0f844f39e6ef58d173ef638820f7b
  container_name: pyload-ng
  volumes:
    - {{ docker_appdata_path }}/pyload-ng:/config
    - {{ nas_download_path }}/pyload:/downloads
  ports:
    - 8000:8000
    - 9666:9666 #optional
  restart: unless-stopped