---
services:

 pyload-ng:
  image: lscr.io/linuxserver/pyload-ng:latest@sha256:573196f448fdeaf8144a907d80e767d2d6c6f8cddc96ae40e28fd1d304d00695
  container_name: pyload-ng
  volumes:
    - {{ docker_appdata_path }}/pyload-ng:/config
    - {{ nas_download_path }}/pyload:/downloads
  ports:
    - 8000:8000
    - 9666:9666 #optional
  restart: unless-stopped