name: infra

# https://nickcunningh.am/blog/how-to-automate-version-updates-for-your-self-hosted-docker-containers-with-gitea-renovate-and-komodo

include:
  - path: gitea/docker-compose.yml
    env_file: gitea/.env
  - path: metrics/docker-compose.yml
  - path: vscode/docker-compose.yml

networks:
  default:
    name: infra_default
