services:

  apprise:
    image: caronc/apprise:1.2.1
    container_name: apprise
    environment:
      - APPRISE_ATTACH_SIZE=10 #optional
    volumes:
      - {{ docker_appdata_path }}/apprise/config:/config
      - {{ docker_appdata_path }}/apprise/attachments:/attachments #optional
    ports:
      - 4002:8000
    restart: unless-stopped