---
services:

 komga:
  container_name: komga
  image: gotson/komga:1.x
  environment:
    KOMGA_OAUTH2_ACCOUNT_CREATION: "true"
  networks:
    bridge_proxy_external:
  ports:
    - "25600:25600"
  volumes:
    - {{ docker_appdata_path }}/komga:/config
    - {{ nas_storage_path }}/comics:/data/comics
    - {{ nas_storage_path }}/storage/Books:/books