services:
  llama:
    image: ghcr.io/ggml-org/llama.cpp:full
    volumes:
      - {{ docker_appdata_path }}/llamacpp/models:/models
    ports:
      - target: 8080
        published: 8080
        mode: host