---
services:

 scrutiny:
  container_name: scrutiny
  image: ghcr.io/analogj/scrutiny:master-omnibus@sha256:7bce3bc79052f4ab4beec9f7333c30439c82de2fd6a36fc0045794abccc4489a
  cap_add:
    - SYS_RAWIO
  ports:
    - "8082:8080" # webapp
    - "8086:8086" # influxDB admin
  volumes:
    - /run/udev:/run/udev:ro
    - {{ docker_appdata_path }}/scrutiny:/opt/scrutiny/config
    - {{ docker_appdata_path }}/scrutiny-influxdb:/opt/scrutiny/influxdb
  devices:
    - "/dev/sda"
    - "/dev/sdb"
    - "/dev/sdc"
    - "/dev/sdd"
    - "/dev/sde"
    - "/dev/sdf"
    - "/dev/sdg"
    - "/dev/nvme0n1"