---
services:

 scrutiny:
  container_name: scrutiny
  image: ghcr.io/analogj/scrutiny:master-omnibus@sha256:275314f4acf92ca83b3cec04c3f27b2528a336f24fe5737bbda6c3cb87ee856b
  cap_add:
    - SYS_RAWIO
  ports:
    - "8082:8080" # webapp
    - "8086:8086" # influxDB admin
  volumes:
    - /run/udev:/run/udev:ro
    - {{ docker_appdata_path }}/scrutiny:/opt/scrutiny/config
    - {{ docker_appdata_path }}/scrutiny-influxdb:/opt/scrutiny/influxdb
  devices:
    - "/dev/sda"
    - "/dev/sdb"
    - "/dev/sdc"
    - "/dev/sdd"
    - "/dev/sde"
    - "/dev/sdf"
    - "/dev/sdg"
    - "/dev/nvme0n1"