---
services:

 scrutiny:
  container_name: scrutiny
  image: ghcr.io/analogj/scrutiny:master-omnibus@sha256:cc88f7babededd75ec01a631bf53671d8be0acbe0c8a80f7ba4d41454a5fc52b
  cap_add:
    - SYS_RAWIO
  ports:
    - "8082:8080" # webapp
    - "8086:8086" # influxDB admin
  volumes:
    - /run/udev:/run/udev:ro
    - {{ docker_appdata_path }}/scrutiny:/opt/scrutiny/config
    - {{ docker_appdata_path }}/scrutiny-influxdb:/opt/scrutiny/influxdb
  devices:
    - "/dev/sda"
    - "/dev/sdb"
    - "/dev/sdc"
    - "/dev/sdd"
    - "/dev/sde"
    - "/dev/sdf"
    - "/dev/sdg"
    - "/dev/nvme0n1"