volumes:
  mysql_data:
  romm_resources:
    driver: local
    driver_opts:
      type: none
      device: "{{ nas_cache_path }}/romm/resources"
      o: bind
  romm_redis_data:

networks:
  app_romm:
    name: app_romm
    driver: bridge  

services:
  romm:
    image: rommapp/romm:4.4.0
    container_name: romm
    restart: unless-stopped
    environment:
      - DB_HOST=romm-db
      - DB_NAME=romm # Should match MARIADB_DATABASE in mariadb
      - DB_USER=romm-user # Should match MARIADB_USER in mariadb
      - DB_PASSWD={{ secret_romm_db_root_pass }} # Should match MARIADB_PASSWORD in mariadb
      - ROMM_AUTH_SECRET_KEY={{ secret_romm_auth_secret_key }} # Generate a key with `openssl rand -hex 32`
      - IGDB_CLIENT_ID={{ secret_igdb_client_id }} # Generate an ID and SECRET in IGDB
      - IGDB_CLIENT_SECRET={{ secret_igdb_api_client_secret }} # https://api-docs.igdb.com/#account-creation
      - SCREENSCRAPER_USER={{ secret_screenscraper_user}}
      - SCREENSCRAPER_PASSWORD={{ secret_screenscraper_password }}
      - MOBYGAMES_API_KEY= # https://www.mobygames.com/info/api/
      - STEAMGRIDDB_API_KEY={{ secret_steamgriddb_api_key }} # https://github.com/rommapp/romm/wiki/Generate-API-Keys#steamgriddb
      - HASHEOUS_API_ENABLED=true
      - PLAYMATCH_API_ENABLED=true
      - LAUNCHBOX_API_ENABLED=true
      - ENABLE_SCHEDULED_UPDATE_LAUNCHBOX_METADATA=true
      - ENABLE_SCHEDULED_CONVERT_IMAGES_TO_WEBP=true
      - OIDC_ENABLED=true #: Set to true to enable OIDC authentication.
      - OIDC_PROVIDER=authentik # The lowercase name of the provider (authentik).
      - OIDC_CLIENT_ID={{ secret_romm_oidc_client_id }} #: The client ID copied from the Authentik application.
      - OIDC_CLIENT_SECRET={{ secret_romm_oidc_client_secret }} #: The client secret copied from the Authentik application.
      - OIDC_REDIRECT_URI=https://romm.{{ secret_domain }}/api/oauth/openid # The redirect URI configured in the Authentik provider, in the format https://romm.host.local/api/oauth/openid.
      - OIDC_SERVER_APPLICATION_URL=https://auth.{{ secret_domain }}/application/o/romm #: The URL of the Authentik application, e.g., http://authentik.host.local/application/o/romm.
    networks:
      - app_romm
      - bridge_proxy_external
    volumes:
      - romm_resources:/romm/resources # Resources fetched from IGDB (covers, screenshots, etc.)
      - romm_redis_data:/redis-data # Cached data for background tasks
      - {{ nas_storage_path }}/storage/Games/Emulation/library:/romm/library # Your game library. Check https://github.com/rommapp/romm?tab=readme-ov-file#folder-structure for more details.
      - {{ docker_appdata_path }}/romm/assets:/romm/assets # Uploaded saves, states, etc.
      - {{ docker_appdata_path }}/romm/config:/romm/config # Path where config.yml is stored
    ports:
      - 3011:8080
    depends_on:
      romm-db:
        condition: service_healthy
        restart: true

  romm-db:
    image: mariadb:11.8.4
    container_name: romm-db
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD={{ secret_romm_db_root_pass }} # Use a unique, secure password
      - MARIADB_DATABASE=romm
      - MARIADB_USER=romm-user
      - MARIADB_PASSWORD={{ secret_romm_db_root_pass }}
    networks:
      - app_romm
    volumes:
      - {{ docker_appdata_path }}/romm-db:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 30s
      start_interval: 10s
      interval: 10s
      timeout: 5s
      retries: 5