---

networks:
  notifiarr:
    driver: bridge

services:
 
  notifiarr:
    container_name: notifiarr
    hostname: notifiarr
    image: golift/notifiarr
    restart: unless-stopped
    networks:
      - notifiarr
    ports:
      - "5454:5454"
    volumes:
      - {{ docker_appdata_path }}/notifiarr:/config
      - /var/run/utmp:/var/run/utmp
      - /etc/machine-id:/etc/machine-id
