x-logging: &default-logging
  driver: json-file
  options:
    max-file: "10"
    max-size: 200k

x-common-keys: &common-keys
  restart: unless-stopped
  logging: *default-logging

x-common-env: &common-env
  PGID: "1000"
  PUID: "1000"
  TZ: America/Los_Angeles

{% if services %}
services:
{% for service in services %}
  {{ service }}:
    <<: *common-keys
    environment:
      <<: *common-env
{% endfor %}
{% endif %}