name: ai

include:
  # - path: llamacpp/docker-compose.yml
  - path: ollama/docker-compose.yml
  # - path: piper/docker-compose.yml
  # - path: subgen/docker-compose.yml
  # - path: tts-webui/docker-compose.yml
  # - path: whisperx/docker-compose.yml

networks:
  default:
    name: ai_default
