---
services:
  picard:
    image: mikenye/picard:latest
    container_name: picard
    ports:
      - "5800:5800"
    volumes:
      - {{ docker_appdata_path }}/picard/config:/config:rw
      - {{ nas_storage_path }}/media/audio/music:/storage:rw
