version: '2'
services:
  gaseous-server:
    container_name: gaseous-server
    image: gaseousgames/gaseousserver:latest
    restart: unless-stopped
    networks:
      - gaseous
    depends_on:
      - gaseous-db
    ports:
      - 5198:80
    volumes:
      - {{ docker_home_appdata_path }}/gaseous-server:/root/.gaseous-server
      - {{ docker_storage_path }}/storage/Games/Emulation/Roms/General:/roms:ro
    environment:
      - TZ=America/Los_Angeles
      - dbhost=gaseous-db
      - dbuser=root
      - dbpass=gaseous
      - igdbclientid={{ secret_gaseous_api_client_id }}
      - igdbclientsecret={{ secret_gaseous_api_client_secret }}
    # note, create first user workflow: https://github.com/gaseous-project/gaseous-server/issues/362

  gaseous-db:
    container_name: gaseous-db
    image: mariadb
    restart: unless-stopped
    networks:
      - gaseous
    volumes:
      - gaseous-db:/var/lib/mysql
    environment:
      - MARIADB_ROOT_PASSWORD=gaseous
      - MARIADB_USER=gaseous
      - MARIADB_PASSWORD=gaseous

networks:
  gaseous:
    driver: bridge

volumes:
  gaseous-db: