---
services:
  iperf3-server:
    image: networkstatic/iperf3:latest@sha256:aaa9e59dcd624990c2493449c65da4aae0d9c7fed6f205c4d2152283abc5410e
    container_name: iperf3-server
    command: -s
    ports:
      - "5201:5201"
    restart: unless-stopped
