---
services:
  iperf3-server:
    image: networkstatic/iperf3:latest@sha256:c1e4a239a83d1d60975bce1c9b7661af5517e362bf335f66a2c5b6adaeb4f19f
    container_name: iperf3-server
    command: -s
    ports:
      - "5201:5201"
    restart: unless-stopped
