---
services:
  piper:
    image: lscr.io/linuxserver/piper:latest
    container_name: piper
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PIPER_VOICE=en_US-lessac-medium
      - PIPER_LENGTH=1.0 #optional
      - PIPER_NOISE=0.667 #optional
      - PIPER_NOISEW=0.333 #optional
      - PIPER_SPEAKER=0 #optional
      - PIPER_PROCS=1 #optional
    volumes:
      - {{ docker_appdata_path }}/piper/data:/config
    ports:
      - 10201:10200
    restart: unless-stopped

  wyoming-piper:
    image: rhasspy/wyoming-piper
    container_name: piper-wyoming
    ports:
      - 5000:5000
      - 10200:10200
    volumes:
      - {{ docker_appdata_path }}/piper-data:/data
    command: [ "--voice", "en_US-lessac-medium" ]
    restart: unless-stopped


    # docker exec -it piper "find "
