# Firework-crossbow kit. Rockets load from the OFF HAND into a crossbow. Format: see warrior.yml.j2.
cooldown: 60
permission_required: false
auto_armor: true
clear_inventory: true
items:
  1:
    id: CROSSBOW
    amount: 1
  2:
    id: FIREWORK_ROCKET
    amount: 24
  3:
    id: STONE_SWORD
    amount: 1
  4:
    id: GOLDEN_APPLE
    amount: 2
  5:
    id: COOKED_BEEF
    amount: 16
  6:
    id: CHAINMAIL_HELMET
    amount: 1
  7:
    id: CHAINMAIL_CHESTPLATE
    amount: 1
  8:
    id: CHAINMAIL_LEGGINGS
    amount: 1
  9:
    id: CHAINMAIL_BOOTS
    amount: 1
display:
  default:
    id: FIREWORK_ROCKET
    name: '&c&lBomber &cKit'
    lore:
      - '&fThis kit includes:'
      - '&8- &7Crossbow + x24 firework rockets'
      - '&8- &7Hold rockets in your OFF HAND to load them!'
      - '&8- &7Stone sword, chainmail armor'
      - ' '
      - '&7Cooldown: &c1 minute'
      - ''
      - '&aLeft Click to claim!'
      - '&bRight Click to preview!'
    item_flags:
      - HIDE_ATTRIBUTES
  cooldown:
    id: FIREWORK_ROCKET
    name: '&c&lBomber &cKit'
    lore:
      - "&cYou need to wait &7%time%"
      - "&cto claim this kit again."
    item_flags:
      - HIDE_ATTRIBUTES
actions:
  claim:
    1:
      action: "playsound: BLOCK_NOTE_BLOCK_PLING;10;2"
  error:
    1:
      action: "playsound: BLOCK_NOTE_BLOCK_PLING;10;0.1"
