# Heavy axe kit - axe hits disable shields (counters Knight). Format: see warrior.yml.j2.
cooldown: 60
permission_required: false
auto_armor: true
clear_inventory: true
items:
  1:
    id: IRON_AXE
    amount: 1
  2:
    id: GOLDEN_APPLE
    amount: 4
  3:
    id: COOKED_BEEF
    amount: 16
  4:
    id: IRON_HELMET
    amount: 1
  5:
    id: IRON_CHESTPLATE
    amount: 1
  6:
    id: IRON_LEGGINGS
    amount: 1
  7:
    id: IRON_BOOTS
    amount: 1
display:
  default:
    id: IRON_AXE
    name: '&6&lBrawler &6Kit'
    lore:
      - '&fThis kit includes:'
      - '&8- &7Iron axe - heavy hits, breaks shield block!'
      - '&8- &7Full iron armor'
      - '&8- &7x4 Golden apples, x16 steak'
      - '&8- &7No bow, no shield - all offense'
      - ' '
      - '&7Cooldown: &c1 minute'
      - ''
      - '&aLeft Click to claim!'
      - '&bRight Click to preview!'
    item_flags:
      - HIDE_ATTRIBUTES
  cooldown:
    id: IRON_AXE
    name: '&6&lBrawler &6Kit'
    lore:
      - "&cYou need to wait &7%time%"
      - "&cto claim this kit again."
    item_flags:
      - HIDE_ATTRIBUTES
actions:
  claim:
    1:
      action: "playsound: BLOCK_NOTE_BLOCK_PLING;10;2"
  error:
    1:
      action: "playsound: BLOCK_NOTE_BLOCK_PLING;10;0.1"
