# Tanky melee PVP kit. Format: see warrior.yml.j2.
cooldown: 60
permission_required: false
auto_armor: true
items:
  1:
    id: IRON_SWORD
    amount: 1
    enchants:
      - "KNOCKBACK;1"
  2:
    id: SHIELD
    amount: 1
  3:
    id: GOLDEN_APPLE
    amount: 2
  4:
    id: COOKED_BEEF
    amount: 16
  5:
    id: IRON_HELMET
    amount: 1
  6:
    id: DIAMOND_CHESTPLATE
    amount: 1
  7:
    id: IRON_LEGGINGS
    amount: 1
  8:
    id: IRON_BOOTS
    amount: 1
display:
  default:
    id: DIAMOND_CHESTPLATE
    name: '&b&lKnight &bKit'
    lore:
      - '&fThis kit includes:'
      - '&8- &7Knockback iron sword + shield'
      - '&8- &7Diamond chestplate, iron armor'
      - '&8- &7x2 Golden apples, x16 steak'
      - '&8- &7No bow - get in close!'
      - ' '
      - '&7Cooldown: &c1 minute'
      - ''
      - '&aLeft Click to claim!'
      - '&bRight Click to preview!'
    item_flags:
      - HIDE_ATTRIBUTES
  cooldown:
    id: DIAMOND_CHESTPLATE
    name: '&b&lKnight &bKit'
    lore:
      - "&cYou need to wait &7%time%"
      - "&cto claim this kit again."
    item_flags:
      - HIDE_ATTRIBUTES
actions:
  claim:
    1:
      action: "playsound: BLOCK_NOTE_BLOCK_PLING;10;2"
  error:
    1:
      action: "playsound: BLOCK_NOTE_BLOCK_PLING;10;0.1"
