# Fast, fragile PVP kit with ender pearls. Format: see warrior.yml.j2.
cooldown: 60
permission_required: false
auto_armor: true
items:
  1:
    id: GOLDEN_SWORD
    amount: 1
    enchants:
      - "FIRE_ASPECT;1"
  2:
    id: ENDER_PEARL
    amount: 4
  3:
    id: GOLDEN_APPLE
    amount: 3
  4:
    id: COOKED_BEEF
    amount: 16
  5:
    id: LEATHER_HELMET
    amount: 1
  6:
    id: LEATHER_CHESTPLATE
    amount: 1
  7:
    id: LEATHER_LEGGINGS
    amount: 1
  8:
    id: LEATHER_BOOTS
    amount: 1
display:
  default:
    id: ENDER_PEARL
    name: '&5&lNinja &5Kit'
    lore:
      - '&fThis kit includes:'
      - '&8- &7Fire gold sword, x4 ender pearls'
      - '&8- &7Leather armor - fast but fragile'
      - '&8- &7x3 Golden apples, x16 steak'
      - ' '
      - '&7Cooldown: &c1 minute'
      - ''
      - '&aLeft Click to claim!'
      - '&bRight Click to preview!'
    item_flags:
      - HIDE_ATTRIBUTES
  cooldown:
    id: ENDER_PEARL
    name: '&5&lNinja &5Kit'
    lore:
      - "&cYou need to wait &7%time%"
      - "&cto claim this kit again."
    item_flags:
      - HIDE_ATTRIBUTES
actions:
  claim:
    1:
      action: "playsound: BLOCK_NOTE_BLOCK_PLING;10;2"
  error:
    1:
      action: "playsound: BLOCK_NOTE_BLOCK_PLING;10;0.1"
