---
services:

 sabnzbd:
  container_name: sabnzbd
  image: lscr.io/linuxserver/sabnzbd:4.5.3
  networks:
  - default
  ports:
    - "8080:8080"
  volumes:
    - {{ docker_appdata_path }}/sabnzbd:/config
    - {{ nas_download_path }}/usenet:/data/usenet