---
services:

  spotizerr:
    container_name: spotizerr
    image: cooldockerizer93/spotizerr
    volumes:
      - {{ docker_appdata_path }}/spotizerr/creds:/app/creds
      - {{ nas_storage_path }}/media/audio/music/General:/app/downloads
    ports:
      - 7171:7171