---
services:
  tubesync:
    image: ghcr.io/meeb/tubesync:latest
    container_name: tubesync
    restart: unless-stopped
    network_mode: container:gluetun
    #ports:
    #  - 4848:4848
    volumes:
      - {{ docker_appdata_path }}/tubesync:/config
      - {{ nas_storage_path }}/media/TV/Youtube_TubeSync:/downloads
    depends_on:
      - gluetun   