---
- Quick:
    - Gmail:
        - icon: gmail.svg
          href: https://mail.google.com

    - Google Calendar:
        - icon: google-calendar.svg
          href: https://calendar.google.com

    - Proton Mail:
        - icon: proton-mail.svg
          href: https://mail.proton.me
          description: Encrypted Email

    - Proton Drive:
        - icon: proton-drive.svg
          href: https://drive.proton.me
          description: Encrypted Cloud Storage
          ping: https://drive.proton.me

- Access:
    - YouTube:
        - icon: youtube.svg
          href: https://youtube.com

    - LXC Scripts:
        - icon: github.svg
          href: https://helper-scripts.com/scripts
          description: Proxmox VE Helper Scripts
    - Dashboard Icons:
        - icon: github.svg
          href: https://github.com/walkxcode/dashboard-icons
          description: Icon Repository