---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/docker/

# my-docker:
#   host: 127.0.0.1
#   port: 2375

# my-docker:
#  socket: /var/run/docker.sock

 morpheus-docker:
  host: 192.168.1.2
  port: 2375

 neo-docker:
  host: dockerproxy
  port: 2375