---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

# Icons list:
# https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/

- Books:
    - AudioBookshelf:
        icon: audiobookshelf.png
        description: Audiobook & Podcast Manager
        widget:
            type: audiobookshelf
            url: http://192.168.1.3:13378
            key: {{ secret_arr_api_key_audiobookshelf }}

    - Calibre:
        icon: calibre.png
        href: http://192.168.1.3:8083
        description: eBook Manager
        widget:
            type: calibreweb
            url: http://192.168.1.3:8083
            username: {{ secret_arr_user_calibreweb }}
            password: {{ secret_arr_pass_calibreweb }}

    - Mylar:
        icon: mylar.png
        href: http://192.168.1.3:8090
        description: Comics Manager
        widget:
            type: mylar
            url: http://192.168.1.3:8090
            key: {{ secret_arr_api_key_mylar3 }}

    - RSS:
        icon: freshrss.png
        href: http://192.168.1.3:8012
        description: RSS Manager
        widget:
            type: freshrss
            url: http://192.168.1.3:8012
            username: {{ secret_arr_user_freshrss }}
            password: {{ secret_arr_pass_freshrss }}

- Media:
    - Plex:
        icon: plex.png
        href: http://192.168.1.3:32400
        description: Media Streaming
        widget:
            type: plex
            url: http://192.168.1.3:32400
            key: {{ secret_arr_api_key_plex }} # see https://www.plexopedia.com/plex-media-server/general/plex-token/

    - Tautulli:
        icon: tautulli.png
        href: http://192.168.1.3:8181
        description: Media Streaming Stats
        widget:
            type: tautulli
            url: http://192.168.1.3:8181
            key: {{ secret_arr_api_key_tautulli }}
            enableUser: true # optional, defaults to false
            showEpisodeNumber: true # optional, defaults to false
            expandOneStreamToTwoRows: false # optional, defaults to true

    - Overseerr:
        icon: overseerr.png
        href: http://192.168.1.3:5055
        description: Media Requests
        widget:
            type: overseerr
            url: http://192.168.1.3:5055
            key: {{ secret_arr_api_key_overseerr }}

    - Ombi:
        icon: ombi.png
        href: http://192.168.1.3:3579
        description: Media Requests
        widget:
            type: ombi
            url: http://192.168.1.3:3579
            key: {{ secret_arr_api_key_ombi }}

- Usenet:
    - Sonarr:
        icon: sonarr.png
        href: http://192.168.1.3:8989
        description: TV Manager
        widget:
            type: sonarr
            url: http://192.168.1.3:8989
            key: {{ secret_arr_api_key_sonarr }}
            enableQueue: true # optional, defaults to false

    - Radarr:
        icon: radarr.png
        href: http://192.168.1.3:7878
        description: Movies Manager
        widget:
            type: radarr
            url: http://192.168.1.3:7878
            key: {{ secret_arr_api_key_radarr }}
            enableQueue: true # optional, defaults to false

    - Prowlarr:
        icon: prowlarr.png
        href: http://192.168.1.3:9696
        description: Indexer Manager
        widget:
            type: prowlarr
            url: http://192.168.1.3:9696
            key: {{ secret_arr_api_key_prowlarr }}

    - Bazarr:
        icon: bazarr.png
        href: http://192.168.1.3:6767
        description: Subtitle Manager
        widget:
            type: bazarr
            url: http://192.168.1.3:6767
            key: {{ secret_arr_api_key_bazarr }}

- Download:
    - Sabnzbd:
        icon: sabnzbd.png
        href: http://192.168.1.3:8080
        description: NZB Downloader
        widget:
            type: sabnzbd
            url: http://192.168.1.3:8080
            key: {{ secret_arr_api_key_sabnzbd }}

    - Deluge:
        icon: deluge.png
        href: http://192.168.1.3:8112
        description: Torrent Downloader
        widget:
            type: deluge
            url: http://192.168.1.3:8112
            password: {{ secret_arr_api_key_deluge }} # webui password


- Docker:
    - Portainer (Neo):
        icon: portainer.png
        href: http://192.168.1.3:9000
        description: Docker Container Management

    - Dozzle (Neo):
        icon: dozzle.png
        href: http://192.168.1.3:8081
        description: Neo Docker Logs

- Health:
    - Backrest:
        icon: restic.png
        href: http://192.168.1.3:9898
        description: Backups (restic)

    - Speedtest:
        icon: speedtest-tracker.png
        href: http://192.168.1.3:8084
        widget:
            type: speedtest
            url: http://192.168.1.3:8084
            bitratePrecision: 3 # optional, default is 0

    - Uptime:
        icon: uptime-kuma.png
        href: http://192.168.1.3:3001
        description: Monitoring
        widget:
            type: uptimekuma
            url: http://192.168.1.3:3001
            slug: statuspageslug

- TBD:
    - Authentik:
        icon: authentik.png
        widget:
            type: authentik
            url: http://authentik.host.or.ip:22070
            key: api_token

    - Immich:
        icon: immich.png
        widget:
            type: immich
            url: http://immich.host.or.ip
            key: adminapikeyadminapikeyadminapikey
