---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

# Icons list:
# https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/

- Services:
    - AudioBookshelf:
        icon: audiobookshelf.png
        href: http://192.168.1.3:13378
        description: Audiobook & Podcast Manager
        widget:
            type: audiobookshelf
            url: http://192.168.1.3:13378
            key: {{ secret_arr_api_key_audiobookshelf }}

    - Komga:
        icon: komga.svg
        href: http://192.168.1.3:25600
        description: Comics Viewer

    - FreshRSS:
        icon: freshrss.png
        href: http://192.168.1.3:8012
        description: RSS Manager
        widget:
            type: freshrss
            url: http://192.168.1.3:8012
            username: {{ secret_arr_user_freshrss }}
            password: {{ secret_arr_pass_freshrss }}

- Media:
    - Tautulli:
        icon: tautulli.png
        href: http://192.168.1.3:8181
        description: Media Streaming Stats
        widget:
            type: tautulli
            url: http://192.168.1.3:8181
            key: {{ secret_arr_api_key_tautulli }}
            enableUser: true # optional, defaults to false
            showEpisodeNumber: true # optional, defaults to false
            expandOneStreamToTwoRows: false # optional, defaults to true

- Usenet:

    - Mylar:
        icon: mylar.png
        href: http://192.168.1.3:8090
        description: Comics Manager
        widget:
            type: mylar
            url: http://192.168.1.3:8090
            key: {{ secret_arr_api_key_mylar3 }}

    - Ombi:
        icon: ombi.png
        href: http://192.168.1.3:3579
        description: Media Requests
        widget:
            type: ombi
            url: http://192.168.1.3:3579
            key: {{ secret_arr_api_key_ombi }}

    - Overseerr:
        icon: overseerr.png
        href: http://192.168.1.3:5055
        description: Media Requests
        widget:
            type: overseerr
            url: http://192.168.1.3:5055
            key: {{ secret_arr_api_key_overseerr }}

    - Sonarr:
        icon: sonarr.png
        href: http://192.168.1.3:8989
        description: TV Manager
        widget:
            type: sonarr
            url: http://192.168.1.3:8989
            key: {{ secret_arr_api_key_sonarr }}
            enableQueue: false # optional, defaults to false

    - Radarr:
        icon: radarr.png
        href: http://192.168.1.3:7878
        description: Movies Manager
        widget:
            type: radarr
            url: http://192.168.1.3:7878
            key: {{ secret_arr_api_key_radarr }}
            enableQueue: false # optional, defaults to false

    - Prowlarr:
        icon: prowlarr.png
        href: http://192.168.1.3:9696
        description: Indexer Manager
        widget:
            type: prowlarr
            url: http://192.168.1.3:9696
            key: {{ secret_arr_api_key_prowlarr }}

    - Bazarr:
        icon: bazarr.png
        href: http://192.168.1.3:6767
        description: Subtitle Manager
        widget:
            type: bazarr
            url: http://192.168.1.3:6767
            key: {{ secret_arr_api_key_bazarr }}

    - FileBot:
        icon: filebot.svg
        href: http://192.168.1.3:5800
        description: Automated Media Changes

    - Maintainerr:
        abbr: MR
        href: http://192.168.1.3:6246
        description: Media Cleanup
    

- Download:
    - Sabnzbd:
        icon: sabnzbd.png
        href: http://192.168.1.3:8080
        description: NZB Downloader
        widget:
            type: sabnzbd
            url: http://192.168.1.3:8080
            key: {{ secret_arr_api_key_sabnzbd }}

    - Deluge:
        icon: deluge.png
        href: http://192.168.1.3:8112
        description: Torrent Downloader
        widget:
            type: deluge
            url: http://192.168.1.3:8112
            password: {{ secret_arr_api_key_deluge }} # webui password

    - MeTube:
        icon: metube.png
        href: http://192.168.1.3:8087
        description: YouTube Downloader

- Network & IoT:
    - UniFi:
        icon: unifi.svg
        href: https://192.168.1.38:8443
        description: Network Controller
        widget:
            type: unifi
            url: https://192.168.1.38:8443
            username: {{ secret_unifi_user }}
            password: {{ secret_unifi_pass }}

    - Adguard Home:
        icon: adguard-home.svg
        href: http://192.168.1.225
        description: DNS & Adblocker
        widget:
            type: adguard
            url: http://192.168.1.225
            username: {{ secret_adguard_home_user }}
            password: {{ secret_adguard_home_pass }}

    - Speedtest:
        icon: speedtest-tracker.png
        href: http://192.168.1.3:8084
        widget:
            type: speedtest
            url: http://192.168.1.3:8084
            bitratePrecision: 3 # optional, default is 0

- Infrastructure:
    - Proxmox (Neo):
        icon: proxmox.png
        href: https://192.168.1.3:8006
        description: PVE Neo

    - Proxmox (Morpheus):
        icon: proxmox.png
        href: https://192.168.1.2:8006
        description: PVE Morpheus

    - Portainer:
        icon: portainer.png
        href: http://192.168.1.3:9000
        description: Docker Container Management

    - Dozzle:
        icon: dozzle.png
        href: http://192.168.1.3:8081
        description: Docker Logs

    - Backrest:
        icon: restic.png
        href: http://192.168.1.3:9898
        description: Backups (restic)

- Monitoring:

    - Uptime:
        icon: uptime-kuma.png
        href: http://192.168.1.3:3001
        description: Uptime Monitoring
        widget:
            type: uptimekuma
            url: http://192.168.1.3:3001
            slug: statuspageslug

    - Netdata:
        icon: netdata.png
        href: http://192.168.1.3:19999
        description: General Monitoring
        widget:
            type: netdata
            url: http://192.168.1.3:19999

    - Scrutiny:
        icon: scrutiny.png
        href: http://192.168.1.3:8082
        description: Disk Monitoring
        widget:
            type: scrutiny
            url: http://192.168.1.3:8082

