---
title: My Homepage
headerStyle: clean
background:
  image: https://wallpapercave.com/wp/wp4565843.jpg
  blur: md
  saturate: 50
  brightness: 50
  opacity: 70
theme: dark
color: slate
useEqualHeights: true
quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true
  showSearchSuggestions: true
  hideVisitURL: true
hideVersion: false
statusStyle: "dot"
showStats: false
layout:
  Quick:
    header: false
    style: column
  Access:
    header: false
    style: column
  Calendar:
    header: false
    style: column
  Monitoring:
    header: true
    style: row
    columns: 4
  Services:
    header: true
    style: row
    columns: 4
  Streaming:
    header: true
    style: row
    columns: 4
  Media Management:
    header: true
    style: row
    columns: 4
  Download:
    header: true
    style: row
    columns: 4
  Network & IoT:
    header: true
    style: row
    columns: 4
  Infrastructure:
    header: true
    style: row
    columns: 4