---
networks:
  vlan_proxy_external:
    name: vlan_proxy_external
    driver: ipvlan
    driver_opts:
      parent: vmbr0 # using ifconfig
    ipam:
      config:
        - subnet: "192.168.1.0/24"
          ip_range: "192.168.1.9/32"
          gateway: "192.168.1.1"

  bridge_proxy_external: 
    name: bridge_proxy_external
    ipam: 
      config: 
        - gateway: 10.10.0.1
          subnet: 10.10.0.0/24

  vpn_gluetun:
    name: vpn_gluetun
    driver: bridge

  app_authentik:
    name: app_authentik
    driver: bridge