---
services:

 lazylibrarian:
  image: lscr.io/linuxserver/lazylibrarian:version-e9a02a07
  container_name: lazylibrarian
  environment:
    DOCKER_MODS: linuxserver/mods:universal-calibre|linuxserver/mods:lazylibrarian-ffmpeg #optional
  volumes:
    - {{ docker_appdata_path }}/lazylibrarian:/config
    - {{ nas_download_path }}:/downloads
    - {{ nas_storage_path}}/storage/Books/Calibre:/books
  ports:
    - 5299:5299
  restart: unless-stopped