---
services:

  wizarr:
    container_name: wizarr
    image: ghcr.io/wizarrrr/wizarr:v2025.9.0
    ports:
      - 5690:5690
    volumes:
      - {{ docker_appdata_path }}/wizarr/database:/data/database