---
services:

  wizarr:
    container_name: wizarr
    image: ghcr.io/wizarrrr/wizarr:2025.7.1
    ports:
      - 5690:5690
    volumes:
      - {{ docker_appdata_path }}/wizarr/database:/data/database